.tShoots, .tShips {
    display: inline-block;
    margin-right: 30px;
}

th, td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.tShoots td {
    cursor: pointer;
}

.shipsContainer {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.btnStart {
    background-color: #F8A51C;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: .7rem 1.5rem;
    text-decoration: none;
}

.btnStart:hover {
background-color: #21a295; }

.hidden {
    display: none;
}